.app-container {
   width: 100%; 
   height: 100vh;
   background: linear-gradient(
    115deg,
    #fff1ff 48%,
    #0bf5f5 48% 55%,
    #a0f60e 55%
   );
}

.all-container {
    height: 86vh;
    position: absolute;
    top: 80px;
    right: 30px;
    overflow-y: scroll;
    width: 100%;
}